* {
  /* border: 1px solid gray; */
  font-family: monospace;
  font-size: 20px;
}

body {
  background-color: rgb(36, 39, 49);
}

form {
  text-align: center;
  padding: 10px;
}
select {
  text-align: center;
  border-radius: 10px;
  outline: none;
  height: 40px;
  border: none;
}

button {
  height: 40px;
  width: 70px;
  border-radius: 10px;
  border: none;
  background-color: rgb(255, 40, 148);
  color: rgb(255, 255, 255);
  font-weight: 100;
}

button:hover {
  cursor: pointer;
}

.day-name {
  text-align: center;
  width: 100px;
  color: aliceblue;
  font-weight: 100;
}

.day-name-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin: 0 auto;
  width: 750px;
}

.gallery {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 750px;
  margin: auto;
  margin-bottom: 40px;
}

.day {
  height: 100px;
  width: 100px;
  /* border: 1px solid gray; */
  background-color: rgba(255, 255, 255, 0.219);
  position: relative;
  transition-duration: 200ms;
}

.day:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.not-month {
  background-color: rgba(255, 255, 255, 0.219);
}

.not-month:hover {
  cursor: not-allowed;
}

.date-overlay {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.089);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition-duration: 200ms;
}

.date-overlay .date-txt {
  color: white;
  font-size: 45px;
  font-family: monospace;
  opacity: 0.5;
}

.no-img-txt {
  color: white;
  font-size: 12px;
  opacity: 0.5;
}

.img-of-the-day {
  height: 100%;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1;
}

.day:hover .date-overlay {
  opacity: 0;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.212);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.big-image {
  max-width: 500px;
  max-height: 500px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 5px 5px 10px 5px black;
  z-index: 20;
}

.image-details-pane {
  width: 270px;
  height: 450px;
  border-radius: 0 15px 15px 0;
  background-color: #000000ac;
  box-shadow: 5px 5px 10px 5px black;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  position: relative;
}

.image-title {
  color: white;
  display: block;
  font-size: 30px;
  line-height: 30px;
  max-width: 240px;
}

cite {
  color: rgb(154, 154, 154);
  display: block;
  margin-bottom: 10px;
}

.image-caption {
  color: rgb(169, 169, 169);
}

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

.insta {
  position: absolute;
  bottom: 30px;
}

a {
  text-decoration: none;
  /* background: linear-gradient(to right, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
  color: rgba(255, 255, 255, 0.541);
  font-weight: 100;
}

.instagram-icon {
  display: block;
}

#close-modal {
  position: absolute;
  right: 20px;
  color: rgba(255, 255, 255, 0.318);
}

#close-modal:hover {
  cursor: pointer;
  user-select: none;
}

.hidden {
  display: none;
}

.details-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

footer {
  /* position: absolute; */
  /* bottom: 20px; */

  font-size: 16px;
  text-align: center;
  /* border: 2px solid white; */
}

footer a {
  font-size: 16px;
}
